# General ignores
.vscode
*.pyc
dot
docs.md

# Folder ignores
Data
goof
drive
venv

# Ignore model artifacts
*.pth
**/*.pth

# Ignore compression artifacts
*.zip
**/*.zip

# Ignore log artifacts
*.log
**/*.log*

# Ignore unnecessary configurations
#**/*.yml


# Allow 
#!config/VeRi/veri_base.yml
#!config/VeRi/veri_verify6.yml

#!config/VRIC/vric_base.yml
#!config/VRIC/vric_final.yml

#!config/CarZam/cub_gzsl_base.yml
#!config/CarZam/cub*.yml
#!config/CarZam/sun*.yml

# Other ignores
notebooks.md
metafiles

# Don't need the todo file
TODO*

